@import 'variables';

.categories {
  ul {
    display: flex;

    li {
      background-color: #faf5f5;
      padding: 9px 22px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
        transform: translateY(3px);
        transition: 0.3s;
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #c57d7d;
        color: #fff;
      }
    }
  }
}
