@import 'variables';

.header {
  border-bottom: 1px solid $orange;
  padding: 0 0 10px 0;

  &:hover {
    .header__cart_svg {
      display: none;
    }
    .header__arrow_svg {
      display: flex;
      transition-duration: 3s;
    }
  }

  &__arrow_svg {
    display: none;
    margin-right: 8px;
    margin-bottom: 1px;
    border-radius: 33px;
  }

  &__logo {
    display: flex;
    height: 70px;

    img {
      margin-left: 55px;
    }
  }

  &__fixed {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }

  .sticky {
    left: 10vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 90vw;
    padding-right: 10%;
  }

}

.logo_mini {
  display: none;
  margin-bottom: 5px;
}

.logo_mini-for_mobile {
  display: none;
  margin-bottom: 5px;
}

.menu_image {
  display: none;
}

@media (max-width: 1199px) {
  .header {
    .sticky {
      left: 2vw;
      position: fixed;
      top: 0;
      z-index: 1000;
      width: 96vw;
      padding-right: 0%;
    }
  }
}

@media (max-width: 767px) {
  .logo_mini-for_mobile {
    display: block;
  }
  .header {
    position: relative;
    &__logo {
      display: none;
    }
    &__fixed {
      justify-content: space-between;
      position: fixed;
      padding-top: 5px;
      margin-left: -25px;
      padding-left: 20vw;
      padding-right: 2vw;
      width: 100%;
      height: 60px;
      background-color: #ffffff;
      z-index: 5;
      top: 0;
      .logo_mini {
        display: none;
      }
    }
  }

  .menu_image {
    display: block;
    position: absolute;
    left: 4px;
    top: 6px;
  }
}

@media (max-width: 575px) {
  .header {
    &__fixed {
      margin-left: -15px;
      padding-left: 10vw;
    }
  }
}

