@import 'variables';

.header {
  border-bottom: 1px solid $orange;
  padding: 0 0 10px 0;

  &:hover {
    .header__cart_svg {
      display: none;
    }
    .header__arrow_svg {
      display: flex;
      transition-duration: 3s;
    }
  }

  &__arrow_svg {
    display: none;
    margin-right: 8px;
    margin-bottom: 1px;
    border-radius: 33px;
  }

  &__logo {
    display: flex;
    height: 70px;

    img {
      margin-left: 55px;
    }
  }

  &__fixed {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }

  .sticky {
    left: 10vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 90vw;
    padding-right: 10%;
  }

}

.logo_mini {
  display: none;
  margin-bottom: 5px;
}

