.popular {
    width: 95vw;
    margin-bottom: 30px;
    overflow: hidden;
    // margin-left: -20px;
    // margin-right: -20px;

    ul {
        display: flex;
        overflow: auto;
        width: 100%;
        scroll-snap-type: x mandatory;
    }

    &-block {
        display: flex;
        justify-content: start;
        cursor: pointer;
        box-sizing: border-box;
        touch-action: manipulation;
        height: 110px;
        width: 250px;
        box-shadow: rgba(2, 5, 3, 0.2) 0px 4px 20px;
        -webkit-box-align: center;
        align-items: center;
        font: inherit;
        margin: 15px 15px 3px 0px;
        padding: 8px;
        background: rgb(255, 255, 255);
        border-width: 1px;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-image: initial;
        border-radius: 12px;
        transition: box-shadow 350ms ease-out 0s, border;
        &:hover {
            box-shadow: rgba(151, 105, 18, 0.7) 0px 4px 20px;
        }

        &__descr {
            display: block;
            text-align: center;
            width: 140px;
        }

        &__title {
            margin-top: 10px;
            font-size: 15px;
            font-weight: 600;
        }

        &__price {
            margin-top: 10px;
            font-size: 22px;
            font-weight: 500;
        }

        &__image {
            height: 100px;
        }
    }

    &__title_pop {
        font-size: 25px;
        margin-top: 11px;
    }

    &__title_all {
        font-size: 25px;
        margin-top: 42px;
    }
}


@media (max-width: 1199px) {
    .popular-block {
        height: 110px;
        width: 220px; 
        &__title {
            margin-top: 5px;
            font-size: 13px;
            font-weight: 600;
        } 
    }
}

@media (max-width: 767px) {
    .popular {
        &__title_all {
            margin-top: 3px;
        }
    }
}